/*
 * Buttons
 * --------------------------------
 */

.button {
    border-radius: $button-border-radius;
    color: $button-text-color;
    background-color: $button-bg-color;
    font-family: $button-text-font;
    font-size: $button-text-size;
    #text-transform: uppercase;
    title-edge-top-inset: 1pt;
}

.button:highlighted {
    background-color: $button-bg-color-highlighted;
    border-radius: $button-border-radius;
}

.button.large {
    font-size: $button-text-size-large;
    title-edge-top-inset: 2pt;
}

.button.small {
    font-size: $button-text-size-small;
    title-edge-top-inset: 2pt;
}

.button.add_account_overlay {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: white;
}

.button.add_account_overlay:normal {
    background-image: url(images/add_button_blue_border_normal.svg);
}

.button.add_account_overlay:highlighted {
    background-image: url(images/add_button_blue_border_highlighted.svg);
}